@font-face {
    font-family: 'Cormorant Infant';
    src: url('fonts/CormorantInfant-SemiBold.woff2') format('woff2'),
        url('fonts/CormorantInfant-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('fonts/CormorantInfant-Regular.woff2') format('woff2'),
        url('fonts/CormorantInfant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('fonts/CormorantInfant-Medium.woff2') format('woff2'),
        url('fonts/CormorantInfant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('fonts/CormorantInfant-Light.woff2') format('woff2'),
        url('fonts/CormorantInfant-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

